<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title></title>
    <style>
        body {
            padding: 20px;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
            margin-top: 20px;
        }

        thead tr:first-child {
            background-color: grey;
            color: white;
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: lightgrey;
        }
    </style>
</head>
<body ng-app="nglApp" ng-controller="Controller">
    <input type="text" ng-model="search" placeholder="Keresés...">
    <table>
        <thead>
            <tr>
                <th>Sorszám</th>
                <th>Név</th>
                <th>cégnév</th>
                <th>foglalkozás</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="n in nevjegyek | filter:search">
                <td>{{ $index + 1 }}</td>
                <td>{{ n.nev }}</td>
                <td>{{ n.ceg }}</td>
                <td>{{ n.pozicio }}</td>
            </tr>
        </tbody>
    </table>

    <script>
        let app = angular.module('nglApp', []);
        app.controller('Controller', function ($scope, $http) {
            $scope.title = "Osztály névsor";
            $scope.nevjegyek = [];
            $http.get('nevjegyek.json')
                .then(function (response) {
                    $scope.nevjegyek = response.data;
                })
                .catch(function (error) {
                    console.error('Hiba történt a nevjegyek.json betöltése közben:', error);
                });
        });
    </script>
</body>
</html>
