<!DOCTYPE html>
<html lang="hu" ng-app="contactsApp">
<head>
    <meta charset="UTF-8">
    <title>Névjegykártyák</title>
    <link href="../stilus.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="contactsController">
    <h1>Lista</h1>
    <table>
        <tr>
            <th>Fotó:</th>
            <th>Név:</th>
            <th>Cégnév:</th>
            <th>Mobil:</th>
            <th>Email:</th>
            <th>Műveletek</th> <!-- Label for actions -->
        </tr>
        <tr ng-repeat="contact in contacts">
            <td><img ng-src="../kepek/{{contact.foto}}" alt="{{contact.nev}}" width="50"></td>
            <td>{{contact.nev}}</td>
            <td>{{contact.cegnev}}</td>
            <td>{{contact.mobil}}</td>
            <td>{{contact.email}}</td>
            <td>
                <!-- Módosítás link -->
                <a href="RA-update-angular.html?id={{contact.id}}">Módosítás</a>
                <!-- Törlés link -->
                <a href="#" ng-click="deleteContact(contact.id)">Törlés</a>
            </td>
        </tr>
    </table>
    <a href="RA-update-angular.html"> vissza a lista oldalára</a>

    <p ng-if="success" class="success">{{success}}</p>
    <p ng-if="errorMessage" class="error">{{errorMessage}}</p>

    <!-- - - - - - -->
    <script>
        const app = angular.module('contactsApp', []);

        app.controller("contactsController", ["$scope", "$http", function($scope, $http) {
        
            $scope.loadContacts = function() {
                $http.get('RA-get-contact.php')
                    .then(function(response) {
                        $scope.contacts = response.data;
                        console.log($scope.contacts);
                    }, function(error) {
                        console.error('Adatbetöltési hiba:', error);
                    });
            };

            
            $scope.loadContacts();

            $scope.deleteContact = function(id) {
                if (confirm('Biztosan törölni szeretnéd?')) {
                    $http({
                        method: 'GET',
                        url: 'RA-delete-contact.php?id=' + id
                    })
                    .then(function(response) {
                        if (response.status === 200) {
                            $scope.loadContacts(); 
                            $scope.success = "Sikeresen törölve";
                            $scope.errorMessage = null;
                        }
                    }, function(error) {
                        $scope.errorMessage = "Törlés sikertelen";
                        $scope.success = null;
                    });
                }
            };
        }]);
    </script>
</body>
</html>
